[submodule "pf2e"]
	path = pf2e
	url = https://github.com/foundryvtt/pf2e.git
[submodule "Discord-Integration"]
	path = Discord-Integration
	url = https://github.com/TheMasterGeese/Discord-Integration.git
[submodule "mg-ready-check"]
	path = mg-ready-check
	url = https://github.com/TheMasterGeese/mg-ready-check.git
[submodule "mg-living-world-core"]
	path = mg-living-world-core
	url = https://github.com/TheMasterGeese/mg-living-world-core
[submodule "mg-block-initiative"]
	path = mg-block-initiative
	url = https://github.com/TheMasterGeese/mg-block-initiative.git
